<%= form_for(@user) do |f| %>
  <%= render 'shared/errors', object: @user %>
  <fieldset>
    <ol>
      <li class="required">
        <%= label(:user, :name) %>
        <%= f.text_field :name, autofocus: true %>
      </li>
      <li class="required">
        <%= label(:user, :email) %>
        <%= f.text_field :email %>
      </li>
      <li class="required">
        <%= label(:user, :password) %>
        <%= f.password_field :password %>
      </li>
      <li class="required">
        <%= label(:user, :password_confirmation) %>
        <%= f.password_field :password_confirmation %>
      </li>
    </ol>
    <p>
      <%= f.submit t('button.user.create') %>
    </p>
  </fieldset>
<% end %>
